* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}
a:hover {
    transform: scale(1.1);
    transition: all 0.3s;
    text-decoration: underline;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
}
.container {
    background-color: beige;
    height: 100px;
}
.container, .coffee {
    display: flex;
    justify-content: space-between;
}
.center, .hero {
    display: flex;
    align-items: center;
}
.container .left,.container .right {
    display: flex;
    gap: 10px;
    align-items: center;
}
.hero{
    margin-top: 100px;
}
.left p, #about p, .contact p, .hero h3 {
    font-size: 24px;
}
.coffee .left {
    padding: 20px;
}
.coffee, #menu, #about, .contact, .container, footer, .hero {
    padding:30px;
}
.menu, #about, #menu, footer {
    background-color: beige;
}
.items {
    display: flex;
    justify-content: space-between;
}
h3 {
    margin-left: 80px;
}
h4 {
    display: flex;
    justify-content: center;
}
footer, .slider {
    display: flex;
    justify-content: center;
}
.hero {
    flex-direction: column;
}
.hero h2 {
    font-size: 48px;
}

.slider {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}
.slider img {
    display: none;
}
img.displaySlide {
    display: block;
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    background-color: beige;
    border: none;
    cursor: pointer;
}
.prev {
    left: 0;
}
.next {
    right: 0;
}
@keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
}
.hero button {
    background-color: beige;
    font-size: 24px;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}